
 <!-- Page Container -->
    <div class="container-fluid">
    <center>
      <div class="row">
      <img src="assets/burger.png" alt="Burger Img">
    <div class="jumbotron">
    <h1>Eat Da Burger!</h1>      
    <p>Create your own burger and devour it!</p>
    
        
    </center>
    

      <br>
      

<div class="row">
  <center>
    <!-- Left side (Burgers Available) -->
    <div class="col-md-4">
      <h3 class="submitFont">Burgers Available</h3>
      <div id="burgersAvailable">

        <!-- Dynamically Add User Burgers Here -->
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <div class="col-md-4"></div> 

    <!-- Right side (Burgers Devoured) -->
    <div class="col-md-4">
      <h3 class="submitFont">Burgers Devoured</h3>
      <div id="alreadyEaten">

        <!-- Dynamically Insert Devoured Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>



      <br><br>

      <!-- Input New Burgers Form -->
      <form action="burger/create" method="POST"> 
        
        <!-- Text Area Input -->
        <div class="row">
          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 

          <!-- Burger Input Box -->
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="submitFont">Request a new burger!</label></center>
            <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger required value="" name="burger_name"></textarea>
          </div>
         
          <div class="col-md-3"></div> 
        </div>
      
        <!-- Submit Button -->
        <center>
          <button id="submit-button" type="submit" class="btn btn-danger">Make my Burger!</button>
        </center>
      </form>
      <br>
    </div>